<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Pokeshop</title>
</head>
<body>
  <div>
    <table border="1">
        <thead>
            <tr>
                <th>Oferta</th>
                <th>Preco</th>
                <th>Pokemon carta</th>
                <th>Email do proprietario</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="oferta: ${ofertas}">
                <td th:text="${oferta.titulo}"></td>
                <td th:text="${oferta.preco}"></td>
                <td th:text="${oferta.carta.pokemon}"></td>
                <td th:text="${oferta.proprietario_email}"></td>
            </tr>
        </tbody>
    </table>
  </div>
</body>
</html>